@font-face {
  font-family: pokemon;
  src: url(pokemon.ttf);
}

:root {
  --columns: 4;
  --rows: 4; 
  --bg: white;
  --card-colour: black;
  --text-colour: black;
}

body {
  font-family: pokemon;
  letter-spacing: 0.2rem;
  background-color: var(--bg);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 50vw;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.header, .stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--text-colour);
}

h1 {
  font-size: 54px;
  margin: 0;
  padding: 0;
}

#game {
  display: grid;
  grid-template-columns: repeat(var(--columns), 160px);
  grid-template-rows: repeat(var(--rows), 160px);
  grid-gap: 10px;
}

.card {
  box-shadow: 0 3px 10px rgba(200,200,200, 0.9);
  border-radius: 10px;
  position: relative;
  transform-style: preserve-3d;
  overflow: hidden;
}

.card > .front, .card > .back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.back > h2 {
  margin: 0;
  font-size: 1rem;
}

.rotated {
  transform: rotateY(180deg);
}

.front {
  background-image: url('pokeball.png');
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--card-colour);
  background-size: 100%;
  color: var(--text-colour);
}

button {
  font-size:18px;
  background-color: #c62828;
  color: white;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
}

select {
  font-size:18px;
  background-color:black;
  color: white;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.popup {
  text-align: center;
  color: var(--text-colour);
  background-color: var(--bg);
  border-color: var(--text-colour);
}


#timer-container {
  position: relative;
}

#animation {
  position: absolute;
  top: -0.2rem;
  right: 0.5rem;
  display: none;
  animation: fadeOut 2s;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
